<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="meusprojetos" routerLinkActive="active" >Meus Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="projetos" routerLinkActive="active" >Certificados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="reviews" routerLinkActive="active" >Recomendações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contato" routerLinkActive="active" >Contato</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" routerLink="sobremim" routerLinkActive="active" >Sobre</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" routerLink="meucurriculo" routerLinkActive="active" >Meu Currículo</a>
        </li>  
       
      </ul>
      
      <!-- Left links -->
      
    </div>
    <!-- Collapsible wrapper -->
    <a href="https://www.linkedin.com/in/laise-france-74428712a/">
      <div class="">
        
        <img src="https://img.icons8.com/ultraviolet/40/000000/linkedin.png"/>  
      </div>
    </a>
    <div style="margin-top:-10px" >
      <app-contato></app-contato>
    </div>
  </div>
  
</nav>

<router-outlet></router-outlet>
<div class="header">

  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->
  
  <!--Content starts-->
  <div class="content flex">
  </div>
 