
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Laise France
          </h6>
          <p>
            Tester e desenvolvedora apaixonada por tecnologia , na busca incessante por novos conceitos de qualidade e desenvolvimento web . 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Tecnologias
          </h6>
          <p>
            <a href="https://angular.io/" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://pt-br.reactjs.org/" class="text-reset">React</a>
          </p>
          <p>
            <a href="https://getbootstrap.com/" class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a href="https://www.atlassian.com/br/software/jira" class="text-reset">Jira</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p>
            <a href="mailto:laise94@hotmail.com?&subject=&cc=&bcc=&body=https://mail.google.com/mail/laise94@hotmail.com/#inbox?compose=new%0A" target="_blank" class="text-reset">Email</a>
          </p>
          <p>
            <a href="https://wa.me/5581992913270" target="_blank" class="text-reset">Whatsapp</a>
          </p>
          <p>
            <a href="https://github.com/LaiFrance" target="_blank" class="text-reset">Github</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/laise-france-74428712a/" target="_blank" class="text-reset">LinkedIn</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          
          </h6>
          <p><i class="fas fa-home me-3"></i> Brasil , Recife-Pernambuco</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            laise94@hotmail.com
            laisefariasfrance@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 55 81 9 9291-3270</p>
          <p><i class="fas fa-print me-3"></i> + 55 81 9 9536-1081</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/LaiFrance">Laise Farias France</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->