


.itens{
    margin-top: 20px;
    width: 250px;
    border-radius: 20%;
    margin: 50px;
    outline: 2px solid #5D0C86;
transition: outline 1s easeIn 0s;

}

.itens:hover{
    outline: 13px solid #7652C3;
}

  
  

.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 0px solid #fff;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    
}