 
        <div class="slider">
          
            <input type="radio" name="testimonial" id="t-1" />
            <input type="radio" name="testimonial" id="t-2" />
            <input type="radio" name="testimonial" id="t-3" checked />
            <input type="radio" name="testimonial" id="t-4" />
            <input type="radio" name="testimonial" id="t-5" />
            <div class="testimonials mb-8">
              <label class="item" for="t-1">
                
                <div class="mycard">
                  
                  <p class="cardtitle">ALURA</p>
                    <img src="https://www.alura.com.br/assets/img/alura-share.1647533642.png" alt="nivel5" class="cardimg" />
                  <div>
                  </div>
                </div>
              </label>
              <label class="item" for="t-2">
                <div class="mycard">
                  <p class="cardtitle">UDEMY</p>
                  <div>
                    <img src="https://pbs.twimg.com/profile_images/1415325711896825858/2cczQq-X_400x400.png" alt="nivel5" class="cardimg" />
                  </div>
                </div>
              </label>
              <label class="item" for="t-3">
                <div class="mycard">
                  <p class="cardtitle">TRYBE</p>
                  <div>
                    <img src="https://lever-client-logos.s3.us-west-2.amazonaws.com/1ecf7375-9cc9-4b3d-ba9a-c1cdcab267b5-1637340507739.png" alt="nivel5" class="cardimg" />
                  </div>
                </div>
              </label>
              <label class="item" for="t-4">
                <div class="mycard">
                  <p class="cardtitle">Digital Innovation One</p>
                  <div>
                    <img src="https://yt3.ggpht.com/qMPyLWsg6kipqVXeVUmusXfNABJGAWignNcYfS7jlEXLsD44PU3dVSFlf8e4sMXTAJKExbDREw=s900-c-k-c0x00ffffff-no-rj" alt="nivel5" class="cardimg" />
                  </div>
                </div>
              </label>
              <label class="item" for="t-5">
                <div class="mycard">
                  <p class="cardtitle">Ultima School</p>
                  <div>
                    <img src="https://ultima.school/promo/cursos/gestao-de-produtos/img/favicon.png" alt="nivel5" class="cardimg" />
                  </div>

                </div>
              </label>
            </div>
            <div class="dots">
              <label for="t-1"></label>
              <label for="t-2"></label>
              <label for="t-3"></label>
              <label for="t-4"></label>
              <label for="t-5"></label>
            </div>
          </div>