    <div class="reviews">
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG3puk3WN0_Lg/profile-displayphoto-shrink_800_800/0/1597752960113?e=1665014400&v=beta&t=lw_xHcqD2UTk9VriezZgz5jm3cCArDOjhKbRAgPk3A0" alt="">
          <div class="bio">
            <h2>Igor Rogério</h2>
            <h3>Analista de Suporte</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Laíse possui uma determinação rara, não há desafio que ela não enfrente e supere. Seu crescimento na área de tecnologia foi extremamente rápido, especialmente no aprendizado de linguagens frontend e estruturas de dados. Visualizo um futuro brilhante pela frente.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHsXM7JLUE7Mw/profile-displayphoto-shrink_800_800/0/1659569101356?e=1669248000&v=beta&t=NEVHJFm0jFmQz1mIfEbIBUbqXDDudo8ALCVqt8f0X2U" alt="">
          <div class="bio">
            <h2>Erika Teixeira Bassi </h2>
            <h3>Analista de Testes/QA</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
A Laise é dedicada e resiliente e não se deixa vencer pelas adversidades. Estamos estudando juntas e ela sempre trata todos com simplicidade e empatia. Sempre muito prestativa e demonstrando conhecimento na área ela consegue ajudar a todos! Não hesito em recomendar a Laise para qualquer função no universo tecnológico.
          </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/D4D35AQHhBOoQdt6Urg/profile-framedphoto-shrink_400_400/0/1657733241685?e=1660017600&v=beta&t=jc2-mnSsWEhS5oWv9O9n97ddVagwMEKM6ChhNyW0GcY" alt="">
          <div class="bio">
            <h2>Danilo Souza Deiró</h2>
            <h3>Desenvolvedor Web</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Excelente profissional, muito atenciosa, sempre disposta a ajudar os colegas e com muito conhecimento.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHq-i3FdjjAFQ/profile-displayphoto-shrink_400_400/0/1657755299850?e=1665014400&v=beta&t=MyKJW7souAQYaQp4XTJurFiXoq4kvqBE_Uwj1LWSZKE" alt="">
          <div class="bio">
            <h2>Kerly Sousa</h2>
            <h3>Web Development Student</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Laise é uma pessoa extremamente dedicada e esforçada. Gosta de aprender e sempre está apta a ajudar quem for preciso. Tivemos a oportunidade de trabalhar juntas em um projeto durante o curso da Trybe, e ela foi muito parceira durante todo o desenvolvimento do mesmo.
            Houveram muitas trocas durante todo o processo.
            Sem dúvidas é a melhor pessoa com quem já tive oportunidade de programar junto.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQF1cgHBMLYIFQ/profile-displayphoto-shrink_400_400/0/1659392111131?e=1665014400&v=beta&t=8EBMgoSPk2fbYJkrMVmS5PpeSmopnafuw7YQ3qoDm6s" alt="">
          <div class="bio">
            <h2>Victor Guerra</h2>
            <h3>Junior Accountant at SNPS</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            A Laise possui uma extraordinária versatilidade e proatividade. Ela e uma pessoa que consegue se comunicar com facilidade entre a equipe, o que acaba quase sempre de forma inesperada se tornando uma das lideranças da equipe. Possui também facilidade no aprendizado de novas habilidades, sempre que possui algum problema do qual ela não consegue transpor, ela nunca desiste e sempre procurar adquiri novas habilidades para transporte os novos problemas que aparecem.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEDZ6im28OV8Q/profile-displayphoto-shrink_100_100/0/1652289553212?e=1665014400&v=beta&t=7bBAjn33DuYSo-u7K6ZJc9a8PwpYWQoHZo1baY9JbU4" alt="">
          <div class="bio">
            <h2>Samuel Lucas</h2>
            <h3>Estudante de Desenvolvimento Web</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Vamo Contar um pouco sobre a Laise e suas Qualidades, Ela e uma pessoa exempla tanto como Dev. Quanto na Vida pessoal, Em Seus Projetos Sempre Dedicada e Focada, Sem contas as noites em Call Realizando Seus Projetos aplicando seus conhecimentos adiquiridos na trybe!, Embora sejamos Dev. Junior mais eu já a considero uma futura Sênior de sucesso.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/D4D35AQENZA1kxTywcQ/profile-framedphoto-shrink_400_400/0/1653331293117?e=1660017600&v=beta&t=BdlxWhE7ihveV4S1DOHUn30ZuZfoVN3uF_sqAzgrYBQ" alt="">
          <div class="bio">
            <h2>Hanna Bacelar</h2>
            <h3>Full Stack Web Development</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            A Laise é uma garota muito dedicada, esforçada, prestativa. Ela irá agregar em qualquer time que entrar, foi um prazer trabalhar com a Laise 👏🏽
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHGO-dhRqBzsQ/profile-displayphoto-shrink_400_400/0/1530638158043?e=1665014400&v=beta&t=li2bhtuAjFfAD3Od0fUvPcjyDgdPSQySG6xuDCHA_Lw" alt="">
          <div class="bio">
            <h2>Letícia Cotta
            </h2>
            <h3>Estudante de Desenvolvimento Web</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Proativa, responsável, comunicativa e muito, muito, hábil com programação. É o tipo de pessoa que, sem dúvida, se não souber algo, vai aprender só para dar conta do recado. Fica aqui a minha admiração!
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG-bOkGUN7XgA/profile-displayphoto-shrink_100_100/0/1632604389298?e=1665014400&v=beta&t=-kHnd0zxTmu7cup4E-LDX5ciOAZTH7GOUpwkd8ahYPQ" alt="">
          <div class="bio">
            <h2>Raoni Chaves Costa</h2>
            <h3>QA Analist | Tester </h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Programadora muito dedicada, bom relacionamento interpessoal, de fácil convivência e domina bem as Soft skills e Hard Skills. Sempre cumpre o que lhe é atribuido e é muito aplicada nos estudos e nas atualizações de conteúdo, sempre se mantém antenada com o surgimento de novas tecnologias.          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/D4D35AQEjmLpjCjATvg/profile-framedphoto-shrink_100_100/0/1658630328748?e=1660017600&v=beta&t=2TVi2RqgEafGUKTaFhttU9Qg9y4ThcgZqEGADr86h_M" alt="">
          <div class="bio">
            <h2>Amanda Barros</h2>
            <h3>QA|Tester</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Laise é uma pessoa bastante focada, determinada, sempre pronta a aprender e a ajudar, com boa comunicação e muita vontade de crescer, tive a oportunidade de aprender e colaborar junto a ela, muito competente e responsável
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGB5kLk9--PXA/profile-displayphoto-shrink_100_100/0/1649684636819?e=1665014400&v=beta&t=H3NlLUaaJLYufAY7dI-x4TkUe7zPLDpRpLIxBE2G9Nk" alt="">
          <div class="bio">
            <h2>Igor Mazetti </h2>
            <h3>Dev Front-end </h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            A Laise é uma pessoa muito empenhada, responsável, com um forte senso de trabalho em grupo. Entrega bons resultados e sempre contribui da melhor forma possível.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="profile">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFpVFNgbGEv1g/profile-displayphoto-shrink_200_200/0/1546968579431?e=1665014400&v=beta&t=LhRdyDzpLeImrM43ZKLKVQOgiBVGcNSc_sPhGRccV54" alt="">
          <div class="bio">
            <h2>Rayner Patrick </h2>
            <h3>software engineer</h3>
          </div>
        </div>
        <div class="qoute">
          <p>
            Laise France é uma excelente profissional, dedicada e muito esforçada. Sempre buscando aprender e se atualizar, tem se destacado na área de tecnologia da informação. Como desenvolvedora full stack, ela consegue lidar com diversas tecnologias e ferramentas, o que a torna uma profissional versátil e de grande valor para qualquer empresa. Além disso, Laise é uma pessoa extremamente competente e comprometida, sempre preocupada em atender às necessidades de seus clientes. Recomendo fortemente a contratação de Laise Franca como profissional de tecnologia da informação.
          </p>
        </div>
      </div>
    </div>
  