
<div style="padding: 20px; margin-top: 50px" class="social">
  <a href="#">
    <div class="social-btn color-telegram">
      <div class="icons8-telegram-app"></div>
      <p class="order-1 google-font margin-telgram">Telegram</p>
    </div>
  </a>
  <a href="https://wa.me/5581992913270">
    <div class="social-btn color-whatsapp">
      <div class="icons8-whatsapp"></div>
      <p class="order-1 google-font margin-instagram">Whatsapp</p>
    </div>
  </a>
  
</div>

<div class="container">
    <section id="about" class="main-nav">
    <div class="row">
      <div class="col-sm-4 ">
        <img style="margin-top: 120px" class="perfil" src="../../assets/My project.png" alt="description" title="tool tip" >
      </div>
      <div style="align-items: center; text-align: center" text-align="center" class="col-sm-5 ">
        <div style="padding: 5px; margin-bottom: 20px" class="alert alert-info" role="alert">
        <h2 class="text-primary stm-font">Hi, I'm Laise France</h2>
            Aqui você poderá conhecer um pouco mais sobre mim e meus projetos.
         </div>
        <p>Sou de Recife-PE</p>
        <p> Desenvolvedora Front-End , Trainee/Analista de Testes na Ultima School , Cursando ADS na UNIFBV | Wyden e Especialização em Testes e qualidade de Software na UNINASSAU </p>
        <h2 class="text-primary stm-font">Skills</h2>
        <p> Front-End Developer, QA / Tester</p>
        <h2 class="text-primary stm-font">Tools</h2>
        <p>Linux, HTML, CSS, SASS, JavaScript, Bootstrap,Figma, Canvas, Angular.js, React.js, Node.js, Express.js, Jira, Confluence, MySQL,Git,Github,GitLab, Postman, Heroku,Typescript,Insomnia </p>
        <h2 class="text-primary stm-font">Experiência</h2>
        <p>Atualmente atuo como front-end desenvolvendo projetos em Angular e fazendo requisições a API, Tenho experiência em metodologias ágeis e trabalho em equipe , já desenvolvi projetos em React , e já trabalhei com Mysql criando tabelas e orquestração de containers com o Docker, possuo noções de Node.js e criações de rotas em back-end (GET,POST,PUT,DELETE) usando tanto o POSTMAN quanto o Insomnia. 
          possuo vivência em teste de software , desenvolvo casos de testes e gestão de bugs, já trabalhei com o Jira,Confluence,GitLab e desenvolvi testes unitários e com o cypress
        possuo mais de 30 projetos pela Trybe e mais de 20 projetos pessoais</p>
        
      </div>
    </div>
    
    </section>

    <div class="imgcontent">
        <img class="icon" src="../../../assets/imagem-dev.png" class="rounded float-end" alt="...">
        <div class="buttons">
            <a width="50%" class="myButton" routerLink="/projetos" routerLinkActive="active">Front-end</a>
            <a width="50%" href="#" class="myButton" routerLink="/projetosback" routerLinkActive="active">Back-end</a>
            <a width="50%" href="#" class="myButton" routerLink="/projetostestes" routerLinkActive="active">QA / Testes</a>
        </div>
    </div>
   <div class="reviews-container">
   <app-reviews></app-reviews>
</div>
    